Repository raihara3/Pocket-Space: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint

.lintstagedrc:

{
  "**/*.{ts,tsx,json}": [
    "eslint --fix"
  ],
  "**/*.tsx": [
    "stylelint"
  ],
  "**/__tests__/**.ts?(x)": [
    "yarn test"
  ]
}

fix npm scripts
  .github/workflows/deploy.yml
  package.json
Due: eslint --fix

update github actions
  .github/workflows/deploy.yml
Due: none

update eslintrc & stylelintrc
  .eslintrc.json
  .eslintrc.yml
  .stylelintrc.json
  .stylelintrc.yml
Due: eslint --fix

add prettier
  .eslintrc.yml
  .stylelintrc.yml
Due: none

add rules to .eslintrc.yml
  .eslintrc.yml
Due: none

fix
  components/molecules/Card.tsx
  src/emitter/Messaging.ts
  styles/global.css
Due: eslint --fix, stylelint

update .lintstagedrc
  .lintstagedrc
Due: none

add styled-components to .stylelintrc.yml
  .stylelintrc.yml
  components/atoms/InputField.tsx
Due: eslint --fix, stylelint

fix package.json
  package.json
Due: eslint --fix

update snapshot
  components/atoms/__tests__/__snapshots__/InputField.test.tsx.snap
  components/molecules/__tests__/__snapshots__/Card.test.tsx.snap
Due: none

change husky settings
  .husky/pre-commit
  .lintstagedrc
  package.json
Due: eslint --fix

update deploy.yml
  .github/workflows/deploy.yml
Due: none

fix
  .github/workflows/deploy.yml
  .github/workflows/packageUpdate.yml
Due: none

add lighthouse to github actions
  .github/workflows/lighthouse.yml
Due: none

refactoring
  pages/remote/call.tsx
  src/Painter.ts
  src/createToolBar.ts
Due: eslint --fix, stylelint

fixed an error in BufferGeometry.computeBoundingSphere()
  pages/remote/call.tsx
Due: eslint --fix, stylelint
